services:
  autocita-dgt:
    build: .
    environment:
      - OFFICE_IDS=491,627,536,586,588,628,539
      - CHECK_PERIOD_MINUTES=5
      - NTFY_URL=https://ntfy.mydomain.com
      - NTFY_TOPIC=dgt
      - NTFY_TOKEN=tk_abc123
    restart: unless-stopped

